spring.application.name=bankkonto-spring
spring.datasource.url=jdbc:mysql://localhost:3306/bankkonto_db
spring.datasource.username=root
spring.datasource.password=DEIN_PASSWORT_HIER
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true